USE [master]
GO
/****** Object:  Database [AunnopShop]    Script Date: 16/6/2564 11:22:00 ******/
CREATE DATABASE [AunnopShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AunnopShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AunnopShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [Secondary] 
( NAME = N'AunnopShop_S', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AunnopShop_S.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AunnopShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AunnopShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AunnopShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AunnopShop]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 16/6/2564 11:22:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[Cus_ID] [char](5) NULL,
	[CusName] [varchar](50) NULL,
	[MemberType] [nchar](10) NULL,
	[Telephone] [varchar](20) NULL,
	[RegisYear] [int] NULL,
	[MemberAge] [int] NULL,
	[EmpID] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16/6/2564 11:22:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [char](5) NOT NULL,
	[EMPName] [varchar](50) NULL,
	[Telephone] [varchar](20) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Secondary]
) ON [Secondary]
GO
USE [master]
GO
